  @Charset "UTF-8";
    body {
    margin: 0;
    padding: 0;
    font-family: Times New Roman;
    text-align: center;
    background-color: #d9d9e4;
    }
    #midia{
    border:solid ;
    width:80%;
    height:140px;
    padding-top:15%;
    border-radius:7px;
    font-size:21px;
    margin-left:10%;
    background-image:linear-gradient(to bottom,#723bf7,#7521dd,#ac56f6,#d46def);
    }
     #midia1{
    border:solid ;
    width:75%;
    height:300px;
    padding-top:10%;
    border-radius:7px;
    text-align:left;
    padding-left:5%;
    font-size:21px;
    margin-left:10%;
    background-image:linear-gradient(to bottom,#723bf7,#7521dd,#ac56f6,#d46def);
    }
    header {
    background-image: url('Form2.png');
    color: #fff;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    position: fixed;
    font-family: Times New Roman;
    height:90px;
    padding-top:10px;
    text-align:center;
    }
    .container {
    width: 90%;
    padding: 20px;
    font-family: Sans-Serif;
    text-align:center;
    }
    .section {
    background-image: url('Form2.png');
    color: #fff;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    font-family: Sans-Serif;
    }
    section {
      color: #fff;
      padding: 20px;
      width: 80%;
      border-radius: 10px;
      font-family: Sans-Serif;
    }
    video{
    width:60%;
    border-radius:5px
    }
    .forma {
    background-color:#dce2eca4;
    padding: 20px;
    margin-right:10px;
    width:30%;
    min-width:200px;
    max-height:300px;
    border: solid ;
    border-radius: 10px;
    border-color:#060728;
    font-family:Times New Roman;
   
    }
    .form{background-color: #a2a2c5;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    border-radius: 10px;
    font-family:Times New Roman;
    width:70%;
    }
    footer {
    background-image: url('Form.png');
        color: #fff;
    text-align: center;
    width: 100%;
    font-family:Sans-Serif;
    }
    .p{
    margin:50px 50px 50px 50px;
    width:200px;
    font-family:Times New Roman;
    text-align:justify;
    border-block:solid;
    height:200px;
    }
    img {
    color: #fff;
    text-align: center;
    width: 100%
    }
    h3 {
    color: black;
    text-align: center;
    font-family: Times New Roman;
    }
    
    .conteudo {
    text-align: justify;
    font-family: Times New Roman;
    color: black;
    }
    .h {
    color: black;
    font-family: Times New Roman;
    text-shadow:1px 1px 0px #383838;
    }
    .bu {
    width:48%;
    height:25px;
    color: white;
    background-image: url('Form2.png');
    margin-left:20px;
    font-family: Times New Roman, ;
    border:none;
    border-radius:none;
    text-align:center;
    font-size:18px;
    top: 0;
    }
    .ba {
    top: 0;
    width:48%;
    height: 25px;
    color: white;
    background-image: url('Form2.png');
    font-family: Times New Roman;
    border:none;
    border-radius:none;
    text-align:center;
    font-size:18px;
    }
    for{margin:none;
    border: none;

    }
    button {
    width: 70%;
    height: 40px;
    color: white;
    background-image: url('Form2.png');
    margin: auto;
    border-radius:5px;
    text-align: center;
    font-family: Times New Roman;
    }
    #submenu1, #submenu1, #submenu1{
      display: none;
    }
    #menu{  padding: 0;
            display: none;
            width:80%;
            margin-top:30px;
            max-width:200px;
            color:#000000;
            border:solid;
            border-left:none;
            background-color: #d9d9e4;
            border-radius:0px 5px 5px 0px;
            text-align:left;
            position:absolute;
            text-decoration:none;
            padding-right:10px;
            padding-left:10px;
        }
        #saida{  padding: 0;
            display: none;
            width:40%;
            margin-top:70px;
            color:#000000;
            border:solid;
            border-left:none;
            background-color: #d9d9e4;
            border-radius:0px 5px 5px 0px;
            text-align:left;
            position:absolute;
            text-decoration:none;
            padding-right:10px;
            padding-left:40px;
        }
        .menu1{
          margin-top:10px;
          margin-left:5px;
          padding-left:15px;
          padding-bottom:10px;
          text-align:left;
        }
        .menu{
          margin-left:5px;
          padding-left:15px;
          padding-bottom:10px;
          text-align:left;
          padding-bottom:5px;
          padding-right:10px ;
        }
        .submenu{
          padding-left:30px;
          text-align:left;
          margin-top:5px;
          padding-right:10px ;
          display: none;
        }
        .submenu1{
          padding-left:30px;
          text-align:left;
          margin-top:5px;
          padding-right:10px ;
          text-decoration: none;
          color:black;
          display: none;
        }
        #Button {
          left:0;
            background-color: #007bff;
            color: white;
            border:none ;
            border-radius: 5px;
            text-align:left;
           position:absolute;
           margin-left:5px;
        }
        #Button:hover {
            background-color: #0056b3;
        }
        #Button .menu-icon {
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items:center;
            position:relative;
        }
        #Button .menu-icon div {
            width:20px;
            height:2px;
            background-color: white;
            border-radius: 2px;
            margin: 2px ;
        }
    nav{
      margin-top:20px;
    }
    .tecla {
    width: 32%;
    height: 40px;
    color: white;
    background-image: url('Form2.png');
    margin: auto;
    border-image:white;
    text-align: center;
    font-family: Times New Roman;
    border-radius:none;
    }
    .sis {
    display:flex;
    justify-content:left;
    align-items: flex-end;
    width: 100%;
    border-radius: 10px;
    font-family: Times New Roman;
    text-align: center;
    margin-left:20px;
    margin-top:20px;
    }
    ul {
    text-align: left;
    list-style: none;
    font-family: Times New Roman;
    }
    .link1 {
    padding-left:20px;
    color:blue;
    font-family: Times New Roman;
    padding-bottom:10px;
    }
      .link {
    padding-left:55px;
    color:blue;
    font-family: Times New Roman;
    padding-bottom:5px;
    padding-top:10px;
    display:none;
    }
    .link2 {
    padding-left:30px;
    color:blue;
    font-family: Times New Roman;
    padding-bottom:5px;
    padding-top:10px;
    display:none;
    }
    .link:hover, .link1:hover, .submenu1:hover{color:green;
    }
    t{text-align:justify;}
    video{width:100%;}
    .ab{width:80px;
    height: 50px;
    color: white;
    background-image: url('Form2.png');
    margin: auto;
    border-radius:5px;
    text-align: center;
    font-family: Times New Roman;
      text-decoration: none;
      border: solid ;
    }
   
    *{background-attachment:fixed;
      font-family: Times New Roman, Sans-Serif;
    }
    .br{
      border: solid ;
      height:5px;
      padding:0;
      margin:0;
    }
    .titulo{
    color:#d46def;
    text-align:center;
    padding:0;
    margin:0 ;
    font-size:20px;
    }
    j{
      color:#723bf7;
    }
    k{
      color:#7521dd;
    }
    underline{
      color:#ac56f6;
    }
    input{
      border:solid;
      border-block-color:black;
      border-radius:5px;
      width:25% ;
      height:25px;
    }
    strong {
        font-size: 19px;
      }
    hr{
      background-color:green;
    }
    /* .box{
      border:solid ;
      border-block-color:#723bf7;
      box-shadow:2px 2px 2px #7521dd;
      background-color:#c9a9f0;
      width:90%;
      height:40px ;
      border-radius:5px;
    }
    */
    .caixaM1{
      width:50%;
      margin-left:45%;
      padding:5px;
      background-color: #e0b4f8;
      border-radius:5px;
      margin-bottom:10px;
      margin-right:40px;
      text-align:left;
    }
        .caixaM2{
      width:50%;
      margin-left:10px;
      padding:5px;
      background-color:white;
      border-radius:5px;
      margin-bottom:10px;
      text-align:left;
      }
        .caixaM3{
      width:70%;
      padding:5px;
      margin-left:10px;
      background-color: white;
      border-radius:5px;
       text-align:left;
      margin-bottom:10px;
      margin-top:30px;
    }
    .AI{
      width:100%;
      height:52px;
      border-color:white;
      border-radius:5px 5px 5px 5px;
    }
    #startBtn{
      width:10%;
      height:40px;
      margin-bottom:0;
    }
        .pergunta{
      width:86%;
      left:0px;
      padding-bottom:0px;
      padding-top:0px;
      height:40px;
      font-size:16px;
      text-align:left;
    }
    .body{
    }
    .footer{
      width:100%;
     bottom:0%;
     left:0%;
     right:0%;
    position:fixed;
    margin-top:60px;
    }
  .video {
    position: relative;
    width:90%;
    padding-bottom: 56.25%; 
    overflow: hidden;
    margin:auto;
    background-color: #000;
    margin-bottom: 20px;
    height:150px;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #fff;
    padding: 10px 10px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }